@font-face {
	font-family: "Galano Bold";
	src: url('../fonts/galano/galano-bold.eot');
	src: url('../fonts/galano/galano-bold.eot?#iefix') format('eot'),
		url('../fonts/galano/galano-bold.woff') format('woff'),
		url('../fonts/galano/galano-bold.ttf') format('truetype');
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

.informations--participants.mg-bottom-md {
	margin-bottom: 1rem;
}

.positive {
	background: cornflowerblue;
}

.light, .conversation.light {
	background: #fff;
}

.light p {
	color: #000;
}

.smoth, .light .smoth {
	color: #898a8a;
}

.text-light {
	color: #fff;
}

.assertive {
	background: orangered;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.marvel-device .screen {
  text-align: left;
}

.screen-container {
  height: 100%;
}

/* Status Bar */

.status-bar {
  height: 25px;
  background: #004e45;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
}

.status-bar:after {
  content: "";
  display: table;
  clear: both;
}

.status-bar div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}

/* Chat Login */
.bg-dark {
	background: #000;
}

.chat.chat-login {
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #0e141a;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.chat-login--logo {
	background: url(../images/we-logo.svg);
	margin: 0;
	background-size: 330px;
	color: #000;
	text-indent: -9999px;
	width: 80px;
	height: 80px;
	margin-bottom: 1rem;
}

.light .chat-login--form {
	width:100%;
}

.chat-login--form {
	width: 80%;
}

.chat-login--line {
	transform: scale3d(1, -1, 1);
	-webkit-transition: stroke-dashoffset 0.3s;
	transition: stroke-dashoffset 0.3s;
	pointer-events: none;
	stroke: #1c2227;
	stroke-width: 4px;
	stroke-dasharray: 1072;
	stroke-dashoffset: 668;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	fill:none;
}

.chat-login--fields input, .chat-login--fields, .chat-login--fields span {
	position: relative;
}

.chat-login--fields label {
	position: absolute;
	bottom: 0;
	left: 0;
	color:#989898;
}

.chat-login--fields {
	padding-top: 0.5rem;
}

.chat-login--form input {
	box-sizing: border-box;
	border: none;
	background: transparent;
	z-index: 1;
	outline: none;
}

.chat-login--form input[type="submit"] {
	width: 100%;
	height: 3rem;
	background: #00d46a;
	color: #fff;
	border-radius: 4px;
	margin: 1.8rem 0 0;
	font-weight: 600;
	cursor: pointer;
}

.chat-login--form p {
	font-size: 0.8rem;
}

.center-text {
	text-align: center;
}

.chat-login--fields input {
	padding-left: 1rem;
}

.chat-login--fields input, .chat-login--fields label {
	z-index: 1;
	width: 100%;
	height: 3rem;
}

.chat-login--fields span, .chat-login--form input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}

.chat-login--fields span {
	z-index: 2;
	display: block;
	visibility: hidden;
	opacity: 0;
	margin: 0.7rem 0;
	transition: ease-out .2s all, ease-out .1s visibility;
}

.chat-login--footer {
	position: absolute;
	bottom: 1.7rem;
	/** for safari */
	width: 100%;
	text-align: center;
}

.chat-login--footer a{
	font-family: "Galano Bold";
	color: #000;
	text-decoration: none;
}

/* Chat Login Actions */
.chat-login--fields input:focus ~ label svg {
	stroke-dashoffset: 0;
}

.chat-login--fields input:focus ~ label span{
	transition: ease-out .2s all, ease-out 0s visibility;
	transform: translate3d(0,-2.6rem,0);
	font-size: 1rem;
	color: #00d46a;
	opacity: 1;
	visibility: visible;
}

.chat-login--fields input.bottom-message:focus ~ label span, .light .chat-login--fields input.bottom-message:focus ~ label span{
	transform: translate3d(0, 2.4rem,0);
}

.light .chat-login--fields input:focus ~ label span {
	transform: translate3d(0, -2.2rem, 0);
}

/* Chat Socials Buttons */
.chat-socials--button {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	overflow: hidden;
}

.chat-socials--button a {
	width: 49%;
	text-align: center;
	border-radius: 4px;
	height: 2.4rem;
	color: #fff;
	justify-content: center;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 1.4rem;
}

.chat-socials--button i {
	-webkit-transition: ease-out .3s transform;
	-moz-transition: ease-out .3s transform;
	-ms-transition: ease-out .3s transform;
	-o-transition: ease-out .3s transform;
	transition: ease-out .3s transform;
}

.chat-socials--button a:hover i {
	-webkit-transform: rotateZ(-19deg) scale(2);
	-moz-transform: rotateZ(-19deg) scale(2);
	-ms-transform: rotateZ(-19deg) scale(2);
	-o-transform: rotateZ(-19deg) scale(2);
	transform: rotateZ(-19deg) scale(2);
}

/* Chat */
.chat {
	height: calc(100% - 69px);
}

.chat-container {
	height: 100%;
}

/* User Bar */

.user-bar {
	height: 55px;
	background: #005e54;
	color: #fff;
	padding: 0 8px;
	font-size: 24px;
	position: relative;
	z-index: 1;
}

.user-bar:after {
	content: "";
	display: table;
	clear: both;
}

.user-bar div {
	float: left;
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.user-bar .actions {
  float: right;
  margin: 0 0 0 20px;
}

.user-bar .actions.more {
	position: relative;
	margin: 0 12px 0 32px;
}

.user-bar .actions.more label {
	display: block;
	cursor:pointer;
}

.user-bar .actions.more ul {
	position: absolute;
	right: 0;
	background: #fff;
	border-radius: 4px;
	top: -25px;
	color: #333;
	list-style: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.58);
	font-size: 0.9rem;
	transition: all cubic-bezier(0, 0, 0.01, 1.45) .5s;
	width: 0px;
	padding: 0;
	overflow: hidden;
	outline: none;
}

.user-bar .actions.more.opened ul {
	width: 170px;
	padding: 0 1rem 1rem;
}

.user-bar .actions.more i {
	cursor: pointer;
	transition: all ease-out .3s;
}
.user-bar .actions.more:hover i {
	transform: scale(1.2) rotateZ(90deg)
}

.user-bar .actions.more ul a {
	text-decoration: none;
	color: #000;
	margin-top: 1rem;
	opacity: 0;
	display: inline-block;
	transition: all linear .2 -0.3s;
}

.user-bar .actions.more a:hover {
	text-decoration: underline;
}

.user-bar .actions.more.opened a {
	opacity:1;
	transition: all linear .2s .4s;
}

.user-bar .actions.attachment {
  margin: 0 0 0 30px;
}

.user-bar .actions.attachment i {
  display: block;
  transform: rotate(-45deg);
}

.user-bar .avatar {
  margin: 0 0 0 5px;
  width: 36px;
  height: 36px;
}

.user-bar .avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
}

.user-bar .name {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  letter-spacing: 0.3px;
  margin: 0 0 0 8px;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}

.user-bar .status {
  display: block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}

/* Conversation */

.conversation {
  height: calc(100% - 12px);
  position: relative;
  background: #efe7dd url("../images/bg.jpg") repeat;
  z-index: 0;
}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}

.informations--topic {
	color: #005e54;
	font-family: "Open Sans";
	font-weight:400;
}

.informations--topic span {
	float: right;
}

.informations--participants {
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.informations--participants div {
	width: 50px;
	margin-right: 19px;
}

.informations--participants img {
	border-radius: 100%;
	max-width: 100%;
}

.informations--participants-legend p.name {
	margin: 4px 0 0;
	font-size: 1.2rem;
}

.informations--participants-legend p {
	margin: 0;
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 2px 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: 100;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
  transition: .2s ease-out;
}

.message.sent {
  transition: .2s ease-out;
}

.message.received:hover {
  box-shadow: 6px 5px 10px gray;
  transform: translateY(-2px);
  cursor: pointer;
}

.message.sent:hover {
  box-shadow: -6px 5px 10px gray;
  transform: translateY(-2px);
  cursor: pointer;
}


.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received .tick {
  display: none;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

/* User */

.user {
  display: block;
  font-size: 12.5px;
  line-height: 20px;
  height: 20px;
  font-weight: 600;
  margin-bottom: 1px;
  color: #029d00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color-0 {
  color: #ef4b4f !important;
}

.color-1 {
  color: #35cd96 !important
}

.color-2 {
  color: #6bcbef !important
}

.color-3 {
  color: #e542a3 !important
}

.color-4 {
  color: #91ab01 !important
}

.color-5 {
  color: #ffa97a !important
}

.color-6 {
  color: #1f7aec !important
}

.color-7 {
  color: #dfb610 !important
}

.color-8 {
  color: #029d00 !important
}

.color-9 {
  color: #8b7add !important
}

.color-10 {
  color: #fe7c7f !important
}

.color-11 {
  color: #ba33dc !important
}

.color-12 {
  color: #59d368 !important
}

.color-13 {
	color: #b04632 !important
}

.color-14 {
  color: #fd85d4 !important;
}

.color-15 {
  color: #8393ca !important;
}

.color-16 {
  color: #ff8f2c !important;
}

.color-17 {
  color: #a3e2cb !important;
}

.color-18 {
  color: #b4876e !important;
}

.color-19 {
  color: #c90379 !important;
}

/* Metadata */

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
		  transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
		  transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
		  transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
		  transform: perspective(800px) rotateY(-179.9deg);
}

/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}

.conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}

/* Small Screens */

@media (max-width: 768px) {
  .marvel-device.nexus5 {
	border-radius: 0;
	flex: none;
	padding: 0;
	max-width: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
  }

  .marvel-device > .screen .chat {
	visibility: visible;
  }

  .marvel-device {
	visibility: hidden;
  }

  .marvel-device .status-bar {
	display: none;
  }

  .screen-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }

  .conversation {
	height: calc(100vh - 55px);
  }
  .conversation .conversation-container {
	height: calc(100vh - 120px);
  }
}

